.body
  .box-main
    .box-main__header
      = render "shared/sub-header"
    .box-main__center
      .box-main-content
        %h2.box-main-content__new 新規会員登録
        .box-main-content__sign_up
          .box-main-content__sign_up__mail
            = link_to '/users/new',class:'links' do
              .box-main-content__sign_up__mail__login  
                %i.box-main-content__sign_up__mail__icon
                  = fa_icon 'envelope'
                メールアドレスを登録する
          .box-main-content__sign_up__face
            = link_to 'https://ja-jp.facebook.com/',class:'links' do
              .box-main-content__sign_up__face__login
                %i.box-main-content__sign_up__face__icon
                  = fa_icon 'facebook-square'
                Facebookを登録する
          .box-main-content__sign_up__g
            %i.box-main-content__sign_up__g__icon
              -# = image_tag 'google-color.jpg'
              = fa_icon 'google'
            Googleで登録する
    .box-main__footer
      = render "shared/sub-footer"