= render 'shared/main-header'
%nav.header-next
  %ul.header-next__next
    %li.header-next__next__list
      = link_to '',class:"header-next__next__list__link" do
        %span
        メルカリ
        = fa_icon "angle-right", class: "angle-icon-header"
    %li.header-next__next__list
      = link_to '',class:"header-next__next__list__link__action" do
        %span
        マイページ
%main.card-main
  = render 'side-bar'
  .card
    %section.card-chapter
      %h2.card-chapter__font
        本人情報の登録
      .card-signle
        .infomation
          %p.infomation-font
            お客さまの本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.infomation-font.info-right
            = link_to '', class: 'infomation-link' do
              本人確認書類のアップロードについて
              = fa_icon 'chevron-right', class: "card-icon"
        .from-group
          %label.infomation-name
            お名前
          .infomation-text
            夜のホームラン王
        .from-group
          %label.infomation-name
            お名前カナ
          .infomation-text
            ヨルノホームランオウ
        .from-group
          %label.infomation-name
            生年月日
          .infomation-text
            7777/07/07
        .from-group
          %label.infomation-name
            郵便番号
          %span.infomation-good
            任意
          %input{placeholder:'例））1234567', type:'text', class:'input-default'}
        .from-group
          %label.infomation-name
            都道府県
          %span.infomation-good
            任意
          %input{placeholder:'--', type:'text', class:'input-default'}
        .from-group
          %label.infomation-name
            市区町村
          %span.infomation-good
            任意
          %input{placeholder:'例））横浜市緑区', type:'text', class:'input-default'}
        .from-group
          %label.infomation-name
            番地
          %span.infomation-good
            任意
          %input{placeholder:'例））青山1-1', type:'text', class:'input-default'}
        .from-group
          %label.infomation-name
            建物名
          %span.infomation-good
            任意
          %input{placeholder:'例））ビル101', type:'text', class:'input-default'}
          %button.btn-red.input-default
            登録する
          .card-pay
          = link_to '', class: "card-pay__link" do
            %span.card-pay__link__font
              本人情報の登録について
              = fa_icon 'chevron-right', class: "card-icon"
= render 'shared/main-footer'