.mypage
  .left-side
  .right-side
    %section.mypage-user
      = link_to '',class: "mypage-user__link" do
        %figure
          = image_tag "member_photo.png", width: "60", height: "60"
        %h2.mypage-user__link__name
          = 'MIZUNO'
        .mypage-user__link__number
          .mypage-user__link__number__evaluation 評価
          %span.mypage-user__link__number__number2 1
          .mypage-user__link__number__number-of-listings 出品数
          %span.mypage-user__link__number__number3 3


    %section.mypage-tab
      .mypage-tab__list
        %ul.mypage-tab__list__ul
          = link_to do
            %li.mypage-tab__list__news
              %h3.mypage-tab__list__news__bold お知らせ
          = link_to do
            %li.mypage-tab__list__todos
              %h3.mypage-tab__list__todos__bold2 やる事リスト

        .tab-content
          %ul.tab-news.tab-tab
            %li
              = link_to "", class: "content-link" do
                %figure
                  = image_tag "mercari_profile.png", class: "mercari1"
                .item-content
                  .item-content__text
                    ありませーーん！！！！！！！！
                  %time
                    = fa_icon "clock-o", class: "clock-icon"
                    %span
                    １日前
                  = fa_icon "angle-right", class: "angle-icon"

            %li
              = link_to "", class: "content-link" do
                %figure
                  = image_tag "mercari_profile.png", class: "mercari1"
                .item-content
                  .item-content__text
                    ありませーーん！！！！！！！！
                  %time
                    = fa_icon "clock-o", class: "clock-icon"
                    %span
                    １日前
                  .right-icon
                    = fa_icon "angle-right", class: "angle-icon"
            %li.mypage-more-info
              = link_to "" do
                一覧を見る

        %section.mypage-transaction
          %h2.mypage-transaction__bay
            購入した商品
          .mypage-tab__list
            %ul.mypage-tab__list__ul
              = link_to do
                %li.mypage-tab__list__news
                  %h3.mypage-tab__list__news__bold 取引中
              = link_to do
                %li.mypage-tab__list__todos
                  %h3.mypage-tab__list__todos__bold2 過去の取引
            .transaction-content
              %ul.transaction-content__ul
                %li.transaction-content__ul__text
                  取引中の商品はありません
  = render 'side-bar'