.banner
  .banner-pc
    .banner-left
      %h2.banner-left__font
        スマホで簡単フリマアプリ
      %p.banner-left__font2
        今すぐ無料ダウンロード！
      .banner-main
        .banner-image
          = image_tag 'mercari_icon.png', class: "banner-image__mercari"
        .banner-image.image-box2
          = image_tag 'google-play.svg'
          = image_tag 'app-store.svg'
    .banner-right
      = image_tag 'download_content_pc.png', class: "banner-right__image"

.footer
  .footer__top
    .footer__top__cell
      %h2.footer__top__cell__merukari
        メルカリについて
      %ul.footer__top__cell__box
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            会社概要
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            採用情報
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            プレスリリース
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            公式ブログ
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            メルカリロゴ利用ガイドライン
        %li.footer__top__cell__box__font.footer-icon
          = fa_icon "twitter", class: "footer__top__cell__box__font__icon"
        %li.footer__top__cell__box__font.footer-icon
          = fa_icon "facebook-square",class: "footer__top__cell__box__font__icon"
    .footer__top__cell.footer-help
      %h2.footer__top__cell__marukari
        ヘルプガイド
      %ul.footer__top__cell__box
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            メルカリガイド
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            らくらくメルカリ便
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            ゆうゆうメルカリ便
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            大型メルカリ便
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            車体取引ガイド
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            メルカリあんしん・あんぜん宣言！
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            偽ブランド品撲滅への取り組み
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            メルカリボックス
    .footer__top__cell.footer-long
      %h2.footer__top__cell__merukari
        プライバシーと利用規約
      %ul.footer__top__cell__box-long
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            プライバシーポリシー
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            メルカリ利用規約
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            あんしんスマホサポート制度に関する利用特約
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            コンプライアンスポリシー
      %h2.footer__top__cell__merukari
      %ul.footer__top__cell__box-long2
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            個人データの安全管理に係る基本方針
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            特定商取引に関する表記
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            資金結材方に基づく表示
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            法令順守と犯罪防止のために
    .footer__top__cell.country
      %h2.footer__top__cell__merukari
        国
      %ul.footer__top__cell__box
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            日本
        %li.footer__top__cell__box__font
          %a.footer__top__cell__box__font__rurl
            Unigted Staes
  .footer__bottom
    = image_tag 'logo-white.svg'
    .footer__bottom__text
      © 2019 Mercari
