%footer.single-footer
  %nav.single-list
    %ul.single-list__footer
      %li.single-list__footer__one
        = link_to '', class: "single-list-footer-link" do
          プライバシーポリシー
      %li.single-list__footer__two
        = link_to '', class: "single-list-footer-link" do
          メルカリ利用規約
      %li.single-list__footer__two
        = link_to '', class: "single-list-footer-link" do
          特定商取引に関する表記
  = link_to '', class:"single-list__link" do
    = image_tag "logo-gray.svg",  alt:"mercari", width:"80", height:"65"
  %p.single-list__text
    %small.single-list__text__year
      © 2019 Mercari