= render 'shared/main-header'
%nav.header-next
  %ul.header-next__next
    %li.header-next__next__list
      = link_to '',class:"header-next__next__list__link" do
        %span
        メルカリ
        = fa_icon "angle-right", class: "angle-icon-header"
    %li.header-next__next__list
      = link_to '',class:"header-next__next__list__link__action" do
        %span
        マイページ
%main.card-main
  = render 'side-bar'
  .card
    .logout-content
      .logout-content__in
        = link_to 'logout-button', class: 'logout-content__in' do
          ログアウト
= render 'shared/main-footer'
= render "shared/red-camer"